.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style: none;
  column-gap: 17px;
  row-gap: 20px;
  padding: 0;
  margin: 0;
}

.card__image {
  max-height: 282px;
  max-width: 282px;
}

.card__description {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: calc(100%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card__text {
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  font-style: normal;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 205px;
}

.card__text:hover {
  overflow: visible;
}

.card__like-button {
  background: transparent url(../Images/Icons/white-heart.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  line-height: 29px;
  align-self: center;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 50%;
}

@media screen and (max-width: 480px) {
  .card__description {
    max-width: 282px;
  }
}

@media screen and (max-width: 1022px) {
  .card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
