.footer {
  padding-bottom: 60px;
  padding-top: 67px;
  width: 100%;
}

.footer__text {
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 1022px) {
  .footer {
    padding-top: 48px;
  }

  .footer__text {
    font-size: 16px;
    line-height: 1.2;
    padding-left: 5vw;
  }
}
