.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header__logo {
  margin: 0;
  padding-bottom: 41px;
}

@media screen and (max-width: 1022px) {
  .header {
    position: relative;
    padding-left: 5vw;
    max-width: 94%;
  }
}

@media screen and (max-width: 585px) {
  .header__logo {
    max-width: 126px;
    max-height: 24px;
    padding-bottom: 32px;
  }
}
