@media screen and (max-width: 545px) and (min-width: 481px) {
  .header {
    padding-left: 5vw;
  }

  .profile {
    flex-direction: column;
    padding-bottom: 32px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 280px;
    margin: auto;
    padding-top: 27px;
  }

  .profile__avatar {
    height: 120px;
    width: 120px;
    margin: auto;
    object-fit: cover;
  }

  .profile__title {
    font-size: 22px;
    text-align: center;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
  }

  .profile__description {
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 36px;
    text-align: center;
    padding-top: 14px;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    border: 2px #ffffff solid;
    border-radius: 2px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
  }

  .card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer {
    padding-left: 5vw;
  }
}
